# MCQ

 1. What is the output of the following code?
 6
 33
 123
 Error. Mixing operators between numbers and strings are not supported

In [2]:
var1 = 1
var2 = 2
var3 = "3"

print(var1 + var2 + var3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Ans:Error. Mixing operators between numbers and strings are not supported

------------

2. What is the output of the following code

In [3]:
salary = 8000

def printSalary():
  salary = 12000
  print("Salary:", salary)
  
printSalary()
print("Salary:", salary)

Salary: 12000
Salary: 8000

------------

3. What is the output of the following code?

In [4]:
var= "James Bond"
print(var[2::-1])

maJ

------------

4. What is the Output of the following code?

In [5]:
for x in range(0.5, 5.5, 0.5):
  print(x)

TypeError: 'float' object cannot be interpreted as an integer

- [0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5, 5.5]
- [0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5]
- The Program executed with errors

Ans : The Program executed with errors

In [13]:
for x in range(1, 5, 1):
  print(x)

1
2
3
4

------------

5.What is the Output of the following code?

In [8]:
p, q, r = 10, 20 ,30
print(p, q, r)

10 20 30

------------

6. What is the output of the following

In [9]:
x = 36 / 4 * (3 +  2) * 4 + 2
print(x)

182.0

------------

7. What is the output of the following code?

In [10]:
valueOne = 5 ** 2
valueTwo = 5 ** 3

print(valueOne)
print(valueTwo)

25
125

------------

8. Can we use the “else” block for for loop?

for example:

In [11]:
for i in range(1, 5):
    print(i)
else:
    print("this is else block statement" )

1
2
3
4
this is else block statement

Ans: yes

------------

9. What is the output of the following code?
- 20
- The program executed with errors
- 30

In [14]:
def calculate (num1, num2=4):
  res = num1 * num2
  print(res)

calculate(5, 6)

30

------------

10. What is the output of the following code?

In [15]:
var = "James" * 2  * 3
print(var)

JamesJamesJamesJamesJamesJames

-------------

11. A string is immutable in Python?

Every time when we modify the string, Python Always create a new String and assign a new string to that variable.

Ans: True

------------------------

12. The in operator is used to check if a value exists within an iterable object container such as a list. Evaluate to True if it finds a variable in the specified sequence and False otherwise.

Ans:True

------------

13. What is the output of the following code?

In [17]:
for i in range(10, 15, 1):
  print( i, end=', ')

10, 11, 12, 13, 14,

------------

14. What is the output of the following code?
- {‘Vicki’, ‘Jodi’, ‘Garry’, ‘Eric’}
- {‘Jodi’, ‘Vicki’, ‘Garry’, ‘Eric’}
- The program executed with error

In [18]:
sampleSet = {"Jodi", "Eric", "Garry"}
sampleSet.add(1, "Vicki")
print(sampleSet)

TypeError: set.add() takes exactly one argument (2 given)

Ans:The program executed with error

------------

15. Which operator has higher precedence in the following list
- % (Modulus)
-  & (BitWise AND)
-  ** (Exponent)
- '>'(Comparison)

Ans:** (Exponent)

------------

16.What is the output of the following code?

In [19]:
sampleList = ["Jon", "Kelly", "Jessa"]
sampleList.append(2, "Scott")
print(sampleList)

TypeError: list.append() takes exactly one argument (2 given)

Ans: The program executed with errors

------------

17. What is the output of the following code?

In [20]:
str = "pynative"
print (str[1:3])

yn

------------

18. What is the output of the following code?

In [21]:
listOne = [20, 40, 60, 80]
listTwo = [20, 40, 60, 80]

print(listOne == listTwo)
print(listOne is listTwo)

True
False

In [22]:
listOne = 10
listTwo = 10

print(listOne == listTwo)
print(listOne is listTwo)

True
True

# Coding Questions:

Exercise 1: Calculate the multiplication and sum of two numbers

Given two integer numbers, write a Python code to return their product only if the product is equal to or lower than 1000. Otherwise, return their sum

In [8]:
a=int(input())
b=int(input())

def SumOrProd(a,b):
    Sum=a+b
    Prod=a*b
    
    if Prod<=1000:
        return Prod
    else:
        return Sum
    
print('the result is: ',SumOrProd(a,b))

20
45
the result is:  900

-----

Exercise 2: Print the Sum of a Current Number and a Previous number

Write a Python code to iterate the first 10 numbers, and in each iteration, print the sum of the current and previous number.

In [5]:
prev_no=0
for i in range(0,10):
    print('current number ',i,' previous number ',prev_no, ' sum ',i+prev_no )
    prev_no=i

current number  0  previous number  0  sum  0
current number  1  previous number  0  sum  1
current number  2  previous number  1  sum  3
current number  3  previous number  2  sum  5
current number  4  previous number  3  sum  7
current number  5  previous number  4  sum  9
current number  6  previous number  5  sum  11
current number  7  previous number  6  sum  13
current number  8  previous number  7  sum  15
current number  9  previous number  8  sum  17

----

Exercise 3: Print characters present at an even index number

Write a Python code to accept a string from the user and display characters present at an even index number.

For example, str = "PYnative". so your code should display ‘P’, ‘n’, ‘t’, ‘v’.

In [8]:
str1=input()

for i in range(len(str1)):
    if i%2==0:
        print(str1[i])

gouri
g
u
i

-----

Exercise 4: Remove first n characters from a string

Write a Python code to remove characters from a string from 0 to n and return a new string.

remove_chars("PYnative", 4) so output must be tive. Here, you need to remove the first four characters from a string.

In [12]:
str1=input()
key=int(input())

print(str1[key:])

PYnative
4
tive

-----

Exercise 5: Check if the first and last numbers of a list are the same

Write a code to return True if the list’s first and last numbers are the same. If the numbers are different, return False.

In [19]:
import ast
lst=ast.literal_eval(input())
lst=list(lst)
print(lst)

def same_first_last(lst):
    
    if lst[0]==lst[-1]:
        return True
    else:
        return False
print(same_first_last(lst))

2,3,5,7,8,2,6
[2, 3, 5, 7, 8, 2, 6]
False

-----

Exercise 6: Display numbers divisible by 5

Write a Python code to display numbers from a list divisible by 5

In [20]:
lst=[10, 20, 33, 46, 55]
for i in lst:
    if i%5==0:
        print(i)

10
20
55

-----

Exercise 7: Find the number of occurrences of a substring in a string

Write a Python code to find how often the substring “Emma” appears in the given string.

In [22]:
str_x = "Emma is good developer. Emma is a writer"
x=str_x.count('Emma')
print(x)

2

-----

Exercise 8: Print the following pattern

1 

2 2 

3 3 3 

4 4 4 4 

5 5 5 5 5

In [29]:
for i in range(1,6):
    for j in range(i):
        print(i,end=" ")
    print('\n')

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

-----

Exercise 9: Check Palindrome Number

Write a Python code to check if the given number is palindrome. A palindrome number is a number that is the same after reverse. For example, 545 is the palindrome number.

In [33]:
no=input()
print("original Number is ",no)
no1=no[::-1]

if no1==no:
    print('Yes. given number is palindrome number')
else:
    print('No. given number is not palindrome number')

521
original Number is  521
No. given number is not palindrome number

-----

Exercise 10: Merge two lists using the following condition

Given two lists of numbers, write a Python code to create a new list such that the latest list should contain odd numbers from the first list and even numbers from the second list.

In [34]:
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
list3=[]
for i in list1:
    if i%2!=0:
        list3.append(i)
        
for i in list2:
    if i%2==0:
        list3.append(i)   
        
print(list3)

[25, 35, 40, 60, 90]

-----

Exercise 11: Get each digit from a number in the reverse order.
    
For example, If the given integer number is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [2]:
a=input()
b=a[::-1]
for i in b:
    print(i, end=" ")

1234
4 3 2 1

In [8]:
a=int(input())
rev_no=0
while a!=0:
    r=a%10
    rev_no=rev_no*10+r
    a=a//10
    print(r,end=" ")

1234
4 3 2 1

-----

Exercise 12: Calculate income tax

Calculate income tax for the given income by adhering to the rules below

Taxable Income	Rate (in %)

First $10,000	0

Next $10,000	10

The remaining	20

Expected Output:

For example, suppose the income is 45000, and the income tax payable is

10000*0% + 10000*10%  + 25000*20% = $6000.

In [10]:
income=int(input())
tax=(10000*0/100)+(10000*10/100)+((income-20000)*20/100)
print(tax)

45000
6000.0

-----

Exercise 13: Print multiplication table from 1 to 10

In [9]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j, end=" ")
    print("\n")

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

-----

Exercise 14: Print a downward half-pyramid pattern of stars

In [ ]:
* * * * *  
* * * *  
* * *  
* *  
*

In [22]:
for i in range(5,0,-1):
    for j in range(i):
        print("*",end=" ")
    print(' ')

* * * * *
* * * *
* * *
* *
*

-----

Exercise 15: Get an int value of base raises to the power of exponent
    
Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

Note here exp is a non-negative integer, and the base is an integer.

Expected output

Case 1:

base = 2

exponent = 5

2 raises to the power of 5: 32 i.e. (2 *2 * 2 *2 *2 = 32)
    
Case 2:

base = 5

exponent = 4

5 raises to the power of 4 is: 625 
    
    
i.e. (5 *5 * 5 *5 = 625)

In [33]:
base=int(input('Enter base value :'))
exp=int(input('Enter exponent value :'))
res=base
for i in range(1,exp):
    res=res*base

print(res)

Enter base value :5
Enter exponent value :4
625